Server {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="{{ KEYTAB_DIR }}/zookeeper.keytab"
  storeKey=true
  useTicketCache=false
  principal="zookeeper/{{ inventory_hostname }}.{{ CLUSTER_DOMAIN }}@{{ KRB_REALM }}";
};