# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# The directory where the snapshot is stored.
dataDir={{ ZOOKEEPER_DATA }}
# The port at which the clients will connect
clientPort=2181
# The servers in the ensemble
{% for host in groups.zookeepers %}
server.{{ loop.index }}={{ host }}.{{ CLUSTER_DOMAIN }}:2888:3888
{% endfor %}
{%- if SECURITY_ENABLED %}
authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
jaasLoginRenew=3600000
kerberos.removeHostFromPrincipal=true
kerberos.removeRealmFromPrincipal=true
{% endif -%}
