[Unit]
Description=HBase REST Gateway
Before=
After=network.target

[Service]
User=hbase-rest
EnvironmentFile=/etc/environment
ExecStart={{ HBASE_HOME }}/bin/hbase rest start
ExecStop=/bin/kill $MAINPID
Restart=on-abort
StandardOutput=journal
PIDFile={{ PID_DIR }}/hbase-rest.pid

[Install]
WantedBy=multi-user.target