#jinja2: trim_blocks:False
[Unit]
Description=HBase Master
Before=
After=network.target

[Service]
User=hbase
EnvironmentFile=/etc/environment
ExecStart={{ HBASE_HOME }}/bin/hbase master start{% if HBASE_MODE == "backup" %} -backup{% endif %}
ExecStop=/bin/kill $MAINPID
Restart=on-abort
StandardOutput=journal
PIDFile={{ PID_DIR }}/hbase-master.pid

[Install]
WantedBy=multi-user.target