[Unit]
Description=YARN-Nodemanager
Before=
After=network.target

[Service]
User={% if SECURITY_ENABLED %}hdfs{% else %}hadoop{% endif %}

ExecStart={{ HADOOP_HOME }}/bin/yarn nodemanager
ExecStop=/bin/kill $MAINPID
Restart=on-abort
StandardOutput=journal
EnvironmentFile=/etc/environment
PIDFile={{ VAR_RUN_BASE }}/hadoop/pid/nodemanager.pid

[Install]
WantedBy=multi-user.target