[Unit]
Description=YARN-Nodemanager
Before=
After=network.target

[Service]
User=root
ExecStart={{ HADOOP_HOME }}/bin/yarn nodemanager
ExecStop=/bin/kill $MAINPID
Restart=on-abort
StandardOutput=journal
EnvironmentFile=/etc/environment
PIDFile={{ PID_DIR }}/nodemanager.pid

[Install]
WantedBy=multi-user.target